apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: belajar-nodejs-dasar
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/fegisucepto/belajar-nodejs-dasar-argocd.git
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: belajar-nodejs
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true