name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [18.x]
        os: [ubuntu-latest]
      fail-fast: false
    
    steps:
      # 1. Checkout Code
      - uses: actions/checkout@v4
      
      # 2. Setup Node.js
      - name: Use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      # 5. Install Dependencies
      - name: Install Dependencies
        run: npm ci
      
      # 6. Linting
      - name: Run Linter
        run: npm run lint --if-present
      
      # 8. Build
      - name: Build
        run: npm run build --if-present
      
      # 9. Run Tests with Coverage
      - name: Run Tests
        run: npm test -- --coverage
        env:
          NODE_ENV: test
      
      # 10. SonarQube Scanner
      - name: Run SonarQube Scanner
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=fegisucepto
            -Dsonar.projectKey=fegisucepto_belajar-nodejs-dasar

        # Check the Quality Gate status.
      - name: SonarQube Quality Gate check
        id: sonarqube-quality-gate-check
        uses: sonarsource/sonarqube-quality-gate-action@master
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      
      # 10. Security Check
      - name: Audit Dependencies
        run: npm audit --production
        continue-on-error: true
      
